* {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page {
  background: #eee;
  padding: 25px;
}
.page form {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em 2em;
}
label {
  margin-bottom: 0.5em;
  position: relative;
}
input,
textarea {
  color: rgb(170, 170, 170);
  border: none;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
  padding: 0.8em;
  margin-top: 10px;
}
textarea {
  height: 160%;
}
.page form label.required::after {
  content: "*";
  color: red;
  position: absolute;
  top: -2px;
  right: -15px;
}
.page form input[type="submit"] {
  color: #fff;
  background: rgb(0, 150, 136);
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 600;
  padding: 0.8em;
  grid-column: span 2;
}
